* {
	margin: 0;
	padding: 0;
}

p {
	background-image: url(../images/gold-palm-leaves-png-8.png);
	text-align: center;
	font-family: 'Spartan';
	
}

body {
    background-image: url(../images/gold-palm-leaves-png-8.png);
    background-repeat: repeat;
	text-align: center;
	font-family: 'Spartan';
}
.something {
    background-color: #FBB9BA;
    width: 103px;
    border-radius: 20px;
    height: 63px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 32pt;
    color: #FFFBFB;
    text-align: center;
    line-height: 55px;
}
